@model FashionFlare.Models.Cart

@{
    ViewBag.Title = "Shopping Cart";
    decimal subtotal = 0;
}

<div class="container my-5">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-8">
                <h2>Your Items</h2>
                @foreach (var item in Model.CartItems)
                {
                    subtotal += item.Product.Price * item.Quantity;
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-4">
                                    <img src="@Url.Content(item.Product.ImageUrl)" class="img-fluid cartImage" alt="Product Image">
                                </div>
                                <div class="col-md-5 col-6">
                                    <h5 class="card-title">@item.Product.Name</h5>
                                    <p class="card-text priceCol "> $@item.Product.Price.ToString("F2")</p>
                                </div>
                                <div class="col-md-4 col-12 d-flex">
                                    <div>
                                        <form asp-controller="Cart" asp-action="UpdateQuantity" method="post" class="mb-2">
                                            <div class="input-group">
                                                <input type="hidden" name="ProductId" value="@item.ProductId" />
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="submit" name="change" value="decrease">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control quantity" name="quantity" value="@item.Quantity" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="submit" name="change" value="increase">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <form asp-action="DeleteItem" method="post">
                                            <div class="input-group">
                                                <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-outline-secondary trashIcon">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Summary Column -->
            <div class="col-md-4">
                <div class="sticky-top">
                    <h3>Summary</h3>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal:
                            <span>$@subtotal.ToString("F2")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Delivery:
                            <span>$5.99</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tax:
                            <span>$@((subtotal * 0.06m).ToString("F2"))</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total:
                            <strong>$@((subtotal + 5.99m + (subtotal * 0.06m)).ToString("F2"))</strong>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary btn-lg btn-block mt-4 BtnColor">Proceed to Checkout</a>
                    }
                    else
                    {
                        <p>You must <a href="/Account/Login">log in</a> to add items to your cart.</p>
                    }
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center">Empty Cart</h2>
        }

    </div>
</div>